<?xml version="1.0"?>
<!--
/**
 * @category  Burdz
 * @package   Burdz\Offerz
 * @author    David Buros <david.buros@gmail.com>
 * @licence   The Unlicense
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Burdz_Offerz::burdz"
            title="Burdz"
            translate="title"
            module="Burdz_Offerz"
            sortOrder="11"
            resource="Burdz_Offerz::burdz"
        />
        <add
            id="Burdz_Offerz::burdz_offerz"
            title="Offerz"
            translate="title"
            module="Burdz_Offerz"
            sortOrder="10"
            resource="Burdz_Offerz::burdz_offerz"
            parent="Burdz_Offerz::burdz"
        />
        <add
            id="Burdz_Offerz::burdz_offerz_offer_list"
            title="Category Offers"
            translate="title"
            module="Burdz_Offerz"
            sortOrder="10"
            parent="Burdz_Offerz::burdz_offerz"
            resource="Burdz_Offerz::burdz_offerz_offer_list"
            action="offerz/offer/index"
        />
    </menu>
</config>
